:root {
  /* font */
  --font-sans: 'Noto Sans JP', 'Hiragino Kaku Gothic ProN', meiryo, sans-serif;
  --base-text-unit: 16;
  --rem-ratio: calc(1rem / var(--base-text-unit));
  --font-normal: 400;
  --font-medium: 500;
  --font-bold: 700;
  --leading-initial: 1;
  --leading-tight: 1.3;
  --leading-snug: 1.5;
  --leading-normal: 1.7;
  --leading-relaxed: 1.8;
  --leading-loose: 2;
  --tracking-tight: 0.02em;
  --tracking-normal: 0.05em;
  --tracking-medium: 0.07em;
  --tracking-relaxed: 0.12em;

  /* size */
  --layout-width-min: 375;
  --layout-width-base: 750;
  --layout-width-inner: 650;
  --layout-width-max: 1440;
  --fluid-ratio-min: calc(1 / var(--layout-width-min) * 100dvi);
  --fluid-ratio-max: calc(1 / var(--layout-width-max) * 100dvi);
  --aspect-video: 16/9;
  --aspect-thumbnail: 1.91/1;
  --rounded-xs: 2px;
  --rounded-s: 4px;
  --rounded-10: 5px;
  --rounded-m: 8px;
  --rounded-sl: 10px;
  --rounded-l: 30px;
  --rounded-full: 100%;

  /* color */
  --color-grayscale-0: #fff;
  --color-grayscale-500: #333;
  --color-grayscale-1000: #000;
  --color-redscale-0: #ffccbc;
  --color-orangescale-0: #ff7c53;
  --color-yellowscale-0: #fef6d1;
  --color-bluescale-0: #e8f6fd;
  --color-bluescale-1000: #052482;
  --background-base: var(--color-grayscale-0);
  --background-point-yellow: color-mix(in srgb, var(--color-yellowscale-0), transparent 48%);
  --background-point-red: color-mix(in srgb, var(--color-redscale-0), transparent 48%);
  --background-point-blue: color-mix(in srgb, var(--color-bluescale-0), transparent 54%);
  --bacgkround-button: color-mix(in srgb, var(--color-orangescale-0), transparent 62%);
  --background-footer: var(--color-bluescale-0);
  --font-base: var(--color-grayscale-500);
  --underline-base: color-mix(in srgb, currentcolor, transparent 40%);
  --color-orange: var(--color-orangescale-0);
  --color-white: var(--color-grayscale-0);
  --color-blue: var(--color-bluescale-1000);
  --color-dark-gray: var(--color-grayscale-500);
  --button-shadow: 2.5px 3.5px 4.5px 0 rgb(93 97 99 / 100%);

  /* z-index */
  --back-z-index: -1;
  --default-z-index: 1;
  --front-z-index: 2;
  --menu-z-index: 3;

  /* motion time */
  --speed-quick: 0.3s;
  --speed-normal: 0.5s;
  --speed-slow: 1s;
  --speed-over-slow: 2s;
}

* {
  box-sizing: border-box;
  min-inline-size: 0;
  border-width: 0;
  border-style: solid;
}

:where(:root) {
  background-color: var(--background-base);
  color: var(--font-base);
  font-family: var(--font-sans);
  font-style: unset;
  font-size: 100%;
  font-weight: var(--font-normal);
  font-feature-settings: 'pkna';
  text-align: start;
  line-height: var(--leading-normal);
  text-spacing-trim: trim-start;
  word-break: initial;
  line-break: strict;
  overflow-wrap: anywhere;
  hyphens: auto;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

:where(body) {
  min-block-size: 100svb;
  margin: unset;
}

:where(h1, h2, h3, h4, h5, h6) {
  margin-block: unset;
  font-size: unset;
}

:where(:any-link) {
  color: unset;
  text-decoration-line: none;
  text-decoration-thickness: from-font;
  text-decoration-color: var(--underline-base);
  text-underline-offset: 0.25em;
}

::file-selector-button,
:where(button, label[for], select, [role='tab'], [role='button']) {
  cursor: pointer;
}

::file-selector-button,
:where(button) {
  inline-size: fit-content;
  touch-action: manipulation;
}

::file-selector-button,
:where(button, input, select, textarea) {
  padding: unset;
  border-width: 1px;
  border-color: transparent;
  border-radius: unset;
  background-color: unset;
  color: unset;
  font: unset;
  vertical-align: middle;
  letter-spacing: unset;
  text-align: unset;
  text-transform: unset;
  appearance: unset;
}

:where(ul, ol) {
  padding-inline-start: unset;
  list-style-type: '';
}

:where(p, blockquote, figure, pre, address, ul, ol, dl) {
  margin-block: unset;
}

:where(figure) {
  margin-inline: unset;
}

:where(img, video, canvas, audio, iframe, embed, object) {
  display: block flow;
  vertical-align: middle;
}

:where(img, svg, video) {
  max-inline-size: 100%;
  block-size: auto;
  object-fit: cover;
}

:where(dialog) {
  overflow: unset;
  inline-size: unset;
  block-size: unset;
  max-inline-size: unset;
  max-block-size: unset;
  padding: unset;
  background-color: unset;
  color: unset;
}

:where(em) {
  font-style: normal;
}

:where(fieldset) {
  margin: unset;
  padding: unset;
  border: unset;
}

:where(summary) {
  list-style: none;
}

summary::-webkit-details-marker {
  display: none;
}

.js-fade,
.js-fadeup,
.js-fadein {
  opacity: 0;
}

.js-scrollin {
  opacity: 0;
  translate: 0 15px;
}

.js-fade.is-inview {
  animation: fade 1s linear forwards;
}

.js-fadeup.is-inview {
  animation: fadeup 1s ease-out forwards;
}

.js-fadein.is-inview {
  animation: fadein 1s ease-out forwards;
}

.js-scrollin.is-inview {
  opacity: 1;
  translate: 0;
  transition:
    opacity 0.5s ease,
    translate 0.5s ease;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
    translate: 0 -30px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

@keyframes fadeup {
  0% {
    opacity: 0;
    translate: 0 50px;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

/* stylelint-disable selector-max-id, declaration-no-important */
.no-sp {
  display: none !important;
}

.no-pc {
  display: grid !important;
}

@media only screen and (min-width: 768px) {
  .no-sp {
    display: grid !important;
  }

  .no-pc {
    display: none !important;
  }
}
/* stylelint-enable selector-max-id, declaration-no-important */

/* layout */
.l-header {
  z-index: var(--menu-z-index);
  position: fixed;
  inset-block-start: 0;
  inset-inline-start: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  block-size: calc(98px / 2);
  padding-inline: calc(30 / var(--layout-width-base) * 100%);
  background-color: var(--background-base);
}

.l-header__logo {
  display: block;
  inline-size: calc(340 / var(--layout-width-base) * 100%);
}

.l-header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc(188px / 2);
  aspect-ratio: 188/56;
  background-color: var(--color-orange);
  border-radius: var(--rounded-10);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--color-white);
}

.l-content {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: calc(98px / 2);
}

/* hero */
.l-hero {
  position: relative;
}

.l-hero__image {
  z-index: var(--default-z-index);
  position: relative;
}

.l-hero__title {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  inline-size: calc(441 / var(--layout-width-base) * 100%);
  margin-block-start: calc(50 / var(--layout-width-base) * 100%);
  translate: -50%;
  clip-path: inset(0 100% 0 0);
}

.l-hero__title.js-load--loaded {
  clip-path: inset(0);
  transition: clip-path 0.7s ease-out 0.3s;
}

/* index */
.l-index {
  position: relative;
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-base) * 100%);
  margin: calc(90 / var(--layout-width-base) * 100%) auto calc(63 / var(--layout-width-base) * 100%);
  border-radius: var(--rounded-sl);
  border: 2px dashed var(--color-blue);
}

.l-index__heading {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  margin-block-start: calc(-28 / var(--layout-width-inner) * 100%);
  padding-inline: calc(35 / var(--layout-width-inner) * 100%);
  background-color: var(--background-base);
  font-weight: var(--font-bold);
  font-size: calc(23 * var(--rem-ratio));
  color: var(--color-blue);
  line-height: var(--leading-initial);
  translate: -50%;
}

.l-index__list {
  padding: calc(65 / var(--layout-width-inner) * 100%) calc(55 / var(--layout-width-inner) * 100%);
}

.l-index__list-item {
  display: block;
}

.l-index__list-item:nth-of-type(n + 2) {
  margin-block-start: calc((30 / 540) * 100%);
}

.l-index__list-item-heading {
  inline-size: calc((148 / 540) * 100%);
}

.l-index__list-item-text {
  margin-block-start: 3px;
  font-weight: var(--font-bold);
  font-size: calc(16 * var(--rem-ratio));
  color: var(--color-dark-gray);
}

/* tip */
.l-tip {
  padding-block: calc(100 / var(--layout-width-base) * 100%) calc(66 / var(--layout-width-base) * 100%);
}

.l-tip--blue {
  background-color: var(--color-bluescale-0);
}

.l-tip__headline {
  margin-block-end: calc(22 / var(--layout-width-base) * 100%);
}

.l-tip__headline-index {
  inline-size: calc(162 / var(--layout-width-base) * 100%);
  margin: auto;
}

.l-tip__headline-theme {
  margin-block-start: calc(5 / var(--layout-width-base) * 100%);
  font-weight: var(--font-bold);
  font-size: calc(19 * var(--rem-ratio));
  color: var(--color-blue);
  text-align: center;
}

.l-tip__text {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-base) * 100%);
  margin: auto;
  font-size: calc(14 * var(--rem-ratio));
  line-height: var(--leading-relaxed);
  color: var(--color-dark-gray);
}

.l-tip__arrow {
  inline-size: calc(278 / var(--layout-width-base) * 100%);
  margin: calc(25 / var(--layout-width-base) * 100%) auto 0;
}

.l-tip__point {
  margin-block-start: calc(30 / var(--layout-width-base) * 100%);
  font-weight: var(--font-bold);
  font-size: calc(19 * var(--rem-ratio));
  color: var(--color-blue);
  line-height: var(--leading-tight);
  text-align: center;
}

.l-tip__detail {
  position: relative;
}

.l-tip__detail-box {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 0;
  inline-size: 100%;
}

.l-tip__button {
  position: relative;
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-base) * 100%);
  margin: calc(16 / var(--layout-width-base) * 100%) auto;
}

.l-tip__detail[open] .l-tip__button {
  margin-block-end: calc(55 / var(--layout-width-base) * 100%);
  padding-block-start: calc(176 / var(--layout-width-base) * 100%);
}

.l-tip__detail[open] .l-tip__button--three-line {
  padding-block-start: calc(228 / var(--layout-width-base) * 100%);
}

.l-tip__icon {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: calc(16 / var(--layout-width-inner) * 100%);
  inline-size: calc(72 / var(--layout-width-inner) * 100%);
  margin-block-end: calc(-32 / var(--layout-width-inner) * 100%);
}

.l-tip__icon-image {
  z-index: var(--front-z-index);
  position: relative;
}

.l-top__icon-image--close {
  z-index: var(--default-z-index);
  position: absolute;
  inset: 0;
  margin: auto;
  inline-size: 100%;
}

.l-tip__detail[open] .l-top__icon-image--open {
  opacity: 0;
}

.l-tip__type {
  position: relative;
  margin-block: calc(68 / var(--layout-width-base) * 100%) calc(12 / var(--layout-width-base) * 100%);
}

.l-tip__type-heading {
  z-index: var(--front-z-index);
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: 50%;
  margin-block-start: calc(-15 / var(--layout-width-base) * 100%);
  background-color: var(--background-base);
  padding-inline: calc(20 / var(--layout-width-base) * 100%);
  font-weight: var(--font-bold);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--color-blue);
  line-height: var(--leading-initial);
  translate: -50%;
}

.l-tip__type-list {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-base) * 100%);
  margin: auto;
  padding: calc(52 / var(--layout-width-base) * 100%) calc(18 / var(--layout-width-base) * 100%) calc(22 / var(--layout-width-base) * 100%);
  border: 1px dashed var(--color-dark-gray);
}

.l-tip__type-list-item {
  display: block;
  font-weight: var(--font-bold);
  font-size: calc(14 * var(--rem-ratio));
  color: var(--color-dark-gray);
}

.l-point {
  padding-block-start: calc(70 / var(--layout-width-base) * 100%);
}

.l-point__index {
  inline-size: calc(308 / var(--layout-width-base) * 100%);
  margin: auto;
}

.l-point__heading {
  margin-block-start: calc(12 / var(--layout-width-base) * 100%);
  font-weight: var(--font-bold);
  font-size: calc(19 * var(--rem-ratio));
  color: var(--color-blue);
  text-align: center;
}

.l-point__text {
  inline-size: calc(var(--layout-width-inner) / var(--layout-width-base) * 100%);
  margin: calc(40 / var(--layout-width-base) * 100%) auto 0;
  font-size: calc(14 * var(--rem-ratio));
  line-height: var(--leading-normal);
}

.l-point__figure {
  z-index: var(--default-z-index);
  position: relative;
  margin-block-start: calc(60 / var(--layout-width-base) * 100%);
}

.l-point__figure-heading {
  inline-size: calc(271 / var(--layout-width-base) * 100%);
  margin: auto;
}

.l-point__figure-list {
  position: relative;
  inline-size: calc(704 / var(--layout-width-base) * 100%);
  margin: calc(50 / var(--layout-width-base) * 100%) auto 0;
}

.l-point__figure-list-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: calc((265 / 704) * 100%);
  aspect-ratio: 1/1;
  border-radius: var(--rounded-full);
  opacity: 0;
  scale: 0.7;
}

.l-point__figure-list.is-inview .l-point__figure-list-item {
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.6s ease-out,
    scale 0.6s ease-out;
}

.l-point__figure-list-item--yellow {
  z-index: var(--default-z-index);
  background-color: var(--background-point-yellow);
}

.l-point__figure-list.is-inview .l-point__figure-list-item--yellow {
  transition-delay: 0.3s;
}

.l-point__figure-list-item--red {
  z-index: var(--front-z-index);
  margin: calc((-153 / 704) * 100%) auto 0;
  background-color: var(--background-point-red);
}

.l-point__figure-list.is-inview .l-point__figure-list-item--red {
  transition-delay: 0.5s;
}

.l-point__figure-list-item--blue {
  z-index: var(--default-z-index);
  position: absolute;
  inset-block-start: 0;
  inset-inline-end: 0;
  background-color: var(--background-point-blue);
}

.l-point__figure-list.is-inview .l-point__figure-list-item--blue {
  transition-delay: 0.7s;
}

.l-point__figure-list-text {
  font-weight: var(--font-bold);
  font-size: calc(32 / var(--layout-width-base) * 100vw);
  line-height: var(--leading-snug);
  color: var(--color-dark-gray);
  text-align: center;
}

.l-point__figure-list-small {
  font-size: calc(28 / var(--layout-width-base) * 100vw);
}

.l-point__sms-illust {
  z-index: var(--front-z-index);
  position: relative;
  inline-size: calc(592 / var(--layout-width-base) * 100%);
  margin-block-start: calc(-60 / var(--layout-width-base) * 100%);
  margin-inline-start: calc(80 / var(--layout-width-base) * 100%);
}

.l-point__contact {
  margin-block-start: calc(53 / var(--layout-width-base) * 100%);
}

.l-point__contact-headline {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(18 / var(--layout-width-base) * 100%);
}

.l-point__contact-headline-arrow {
  inline-size: calc(19px / 2);
}

.l-point__contact-headline-heading {
  font-size: calc(14 * var(--rem-ratio));
}

.l-point__contact-list {
  margin-block-start: calc(23 / var(--layout-width-base) * 100%);
}

.l-point__contact-list-item {
  position: relative;
  display: block;
  inline-size: calc(565 / var(--layout-width-base) * 100%);
  aspect-ratio: 565/110;
  margin: auto;
  border-radius: var(--rounded-10);
  box-shadow: var(--button-shadow);
}

.l-point__contact-list-item:nth-of-type(n + 2) {
  margin-block-start: calc(25 / var(--layout-width-base) * 100%);
}

.l-point__contact-list-item--sms {
  background-color: var(--color-orange);
}

.l-point__contact-list-item--tel {
  background-color: var(--bacgkround-button);
}

.l-point__contact-list-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

.l-point__contact-list-item-link-text {
  font-weight: var(--font-bold);
  font-size: calc(20 * var(--rem-ratio));
  color: var(--color-white);
}

.l-point__contact-list-item-link-pop {
  position: absolute;
  inset-block-start: 0;
  inset-inline-start: calc((-32 / 565) * 100%);
  inline-size: calc((110 / 565) * 100%);
  margin-block-start: calc((-22 / 565) * 100%);
  opacity: 0;
  scale: 0.85;
}

.l-point__contact-list-item--sms.is-inview .l-point__contact-list-item-link-pop {
  opacity: 1;
  scale: 1;
  transition:
    opacity 0.5s ease 0.3s,
    scale 0.5s cubic-bezier(0, 0, 0.74, 2.01) 0.3s;
}

.l-point__contact-list-item-link-tel {
  inline-size: calc((403 / 565) * 100%);
}

.l-point__last-illust {
  margin-block-start: calc(33 / var(--layout-width-base) * 100%);
}

.l-footer__inner {
  padding-block: calc(153 / var(--layout-width-base) * 100%) calc(110 / var(--layout-width-base) * 100%);
  background-color: var(--background-footer);
}

.l-footer__logo {
  inline-size: calc(596 / var(--layout-width-base) * 100%);
  margin: auto;
}

.l-footer__tel {
  inline-size: calc(506 / var(--layout-width-base) * 100%);
  aspect-ratio: 506/135;
  margin: calc(58 / var(--layout-width-base) * 100%) auto 0;
  background-color: var(--background-base);
  border-radius: var(--rounded-sl);
  box-shadow: var(--button-shadow);
}

.l-footer__tel-button {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100%;
}

.l-footer__tel-button-number {
  inline-size: calc((431 / 506) * 100%);
}

.l-footer__link-list {
  margin-block-start: calc(67 / var(--layout-width-base) * 100%);
}

.l-footer__link-list-item {
  display: block;
}

.l-footer__link-list-item:nth-of-type(n + 2) {
  margin-block-start: calc(25 / var(--layout-width-base) * 100%);
}

.l-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(20 / var(--layout-width-base) * 100%);
}

.l-footer__link-text--text1 {
  inline-size: calc(206 / var(--layout-width-base) * 100%);
}

.l-footer__link-text--text2 {
  inline-size: calc(335 / var(--layout-width-base) * 100%);
}

.l-footer__link-text--text3 {
  inline-size: calc(102 / var(--layout-width-base) * 100%);
}

.l-footer__link-icon {
  inline-size: calc(30 / var(--layout-width-base) * 100%);
}

.l-footer__copyright {
  padding-block: calc(27 / var(--layout-width-base) * 100%);
  background-color: var(--color-blue);
}

.l-footer__copyright-text {
  inline-size: calc(294 / var(--layout-width-base) * 100%);
  margin: auto;
}

@media screen and (min-width: 768px) {
  .l-wrapper {
    inline-size: calc(750px * 1.5 / 2);
    margin: auto;
  }

  .l-header {
    inset-inline-start: 50%;
    inline-size: calc(750px * 1.5 / 2);
    padding-inline: calc(30px * 1.5 / 2);
    translate: -50%;
  }

  .l-tip__detail[open] .l-tip__button {
    padding-block-start: calc(140 / var(--layout-width-base) * 100%);
  }

  .l-point__figure-list-text {
    font-size: calc((16 * 1.5) * var(--rem-ratio));
  }

  .l-point__figure-list-small {
    font-size: calc((14 * 1.5) * var(--rem-ratio));
  }

  .l-point__contact-list-item-link,
  .l-footer__tel-button {
    pointer-events: none;
  }
}

@media (any-hover: hover) {
  .l-tip__button:hover {
    cursor: pointer;
  }
}



